.mainContainer {
    background-color: #f3f2ef;
    height: 100vh;
}

.outline {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
}

.scaffoldContainer {
    margin: 32px 350px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.scaffoldAside {
    width: 315px;
    height: 600px;
}

