.mainContainer {
    display: grid;
    background-color: #f3f2ef;
    overflow: auto;
}

.scaffoldMain {
    width: 540px;
}

.outline {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
}

.scaffoldContainer {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}
