.mainContainer {
    background-color: #f3f2ef;
    height: 100vh;
    overflow: auto;
}

.scaffoldMain {
    /* background-color: yellow; */
    width: 540px;
    /* height: 600px; */
}

.outline {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
}

.scaffoldContainer {
    /* background-color: orange; */
    /* margin: 64px 350px; */
    /* margin: 64px 0px; */
    display: flex;
    justify-content: center;
    gap: 24px;
}
