.dropDownContainer {
    position: relative;
}

.dropDownMenu {
    position: absolute;
    /* height: 300px; */
    width: 150px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* top: 36px; */
    right: 0;
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: grey;
    padding: 8px;
}

.outline {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
}