.navBar {
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
    width: 100%;
}

.wrapper {
    display: flex;
}

.navButtonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navButton {
    color: rgb(96, 96, 96);
    max-width: 90px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navButton:hover {
    color: black;
    cursor: pointer;
}

.navProfile {
    color: rgb(96, 96, 96);
    border: none;
    background-color: white;
}

.navProfile:hover {
    color: black;
    cursor: pointer;
}

.navProfile .navButtonText {
    display: flex;
    align-items: center;
}

.navProfile img {
    width: 26px;
    height: 26px;
    border-radius: 100%;
}


.searchBarContainer {
    display: flex;
    align-items: center;
    margin-right: 200px;
}

.searchBarContainer .logo {
    border-radius: 4px;
    color: white;
    background-color: #0a66c2;
    padding: 4px;
    font-size: 24px;
}

.searchBarContainer .searchBar {
    margin-left: 4px;
    padding: 8px;
    border: none;
    background-color: #eef3f8;
    border-radius: 4px;
    width: 250px;
}

.searchBarContainer .searchBar:focus {
    width: 350px;
}

.signOutButton {
    font-size: 16px;
}

.signOutButton:hover {
    text-decoration: underline;
    cursor: pointer;
}
