.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

.profileImg {
    height: 48px;
    width: 48px;
    border-radius: 100%;
}


.header {
    display: flex;
    justify-content: space-between;
}

.posterInfo {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.nameContainer {
    font-size: 14px;
}

.textContainer {
    overflow-wrap: break-word;
}

.outline {
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
}

.horizontalButton {
    padding: 4px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.horizontalButton:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.deleteButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

li {
    list-style-type: none;
}