.postContainer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
}

.postContainer .profileImg {
    height: 48px;
    width: 48px;
    border-radius: 100%;
}


.postContainer .postHeader {
    display: flex;
    justify-content: space-between;
}

.postContainer .posterInfoContainer {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.postContainer .postNameContainer {
    font-size: 14px;
}

.postContainer .postTextContainer {
    overflow-wrap: break-word;
}

.outline {
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
}

.postContainer .horizontalButton {
    padding: 4px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

.postContainer .horizontalButton:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.deleteButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

li {
    list-style-type: none;
}