.outline {
    border-radius: 8px;
    border: 1px solid lightgrey;
    background-color: white;
}

.scaffold {
    background-color: white;
    min-width: 225px;
    height: 400px;
}

.profilePictureContainer {
    height: 30%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.profilePicture {
    border-radius: 100%;
    height: 64px;
    border: 2px solid white;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer {
    border: 1px solid rgba(211, 211, 211, 0.268);
    border-left: none;
    border-right: none;
}

.header {
    /* background-color: antiquewhite; */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.button {
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.button:hover {
    background-color: rgba(211, 211, 211, 0.555);
    cursor: pointer;
}